
.container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 15px;
}
footer{
    padding: 0 20px;
    max-width: 1440px;
    margin:0px auto 0 auto;
}
.footer-img{
    width: 70px;
    height: 70px;
}
.footer-rp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin-top: 250px;
    margin-bottom: 100px;

}
.response,.response2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.mb-3,.mb-4,.mb-5,.onniyo{
    text-align: center;
}













@media (max-width:1350px){
.footer-rp{
    flex-direction: column;
    margin-top: 100px;
}
.response,.response2{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.response2{
    margin-top: 50px;
}
}
@media (max-width:650px){
    
    .footer-rp{
        margin-top: -20px;
    }
    .response,.response2{
        flex-direction: column;

        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .mb-3,.mb-4,.onniyo{
        margin-top: 150px;
    }
    .response2{
        margin-top: 50px;

    }
    .mb-5{
        display: none;
    }
   .pppp{
    margin-bottom: 200px;
    font-size: 2px;
   }
    
}
